:root{
    --main-background-color:#ffffff;
    --header-footer-background-color :#2f303a;
    --secondary-background-color:#f5f4fa;
    --primary-text-color:#757575;
    --heading-main-color:#212121;
    --link-color:#2196f3;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
}


.list{
    list-style: none;
}
body{
    background-color:var(--main-background-color);
}
/* шапка */
.logo{
    color:var(--link-color);
}
/* навигация */
.site-nav .link{
   color:var(--heading-main-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--link-color);
}

/* контакты */
.contact-nav .link{
    color:var(--link-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus{
    color:var(--heading-main-color);
}
/* hero */
.hero{
    background:var(--header-footer-background-color);
}
.hero-title{
    color:var(--main-background-color);
}
/* qualities and skills */
.details-title{
    color:var(--heading-main-color);

}
.details-text{
    color:var(--primary-text-color);
}
/* punctuality */
.punctuality-title{
    color:var(--heading-main-color);

}
.punctuality-text{
    color: var(--primary-text-color);
}
/* planning */
.planning-title{
    color:var(--heading-main-color);

}
.planning-text{
    color:var(--primary-text-color);
}
/* technologies */
.technologies-title{
    color:var(--heading-main-color);

}
.technologies-text{
    color:var(--primary-text-color);
}
/* Чем мы занимаемс */
.services-title{
    color:var(--heading-main-color);
}
/* команда */
.team{
    background:var(--secondary-background-color);
}
.team-title{
    color:var(--heading-main-color);
}
.team-demyanenko{
    color:var(--heading-main-color);
}
.team-demyanenko-position{
    color:var(--primary-text-color);
}
.team-repin{
    color:var(--heading-main-color);
}
.team-repin-position{
    color:var(--primary-text-color);
}
.team-tarasov{
    color:var(--heading-main-color);
}
.team-tarasov-position{
    color:var(--primary-text-color);
}
.team-ermakov{
    color:var(--heading-main-color);
}
.team-ermakov-position{
    color:var(--primary-text-color);
}
/* footer */
.footer{
    background:var(--header-footer-background-color);
}
.address{
    color:var(--main-background-color);
}
.footer-contact-link{
    color:var(--footer-contact-color);
}
/* разделы портфолио  */
.portfolio{
    color:var(--heading-main-color);   
}
.portfolio .button:hover,
.portfolio .button:focus{
    color:var(--main-background-color);
}
.portfolio-title{
    color:var(--heading-main-color);
}
.portfolio-text{
    color:var(--primary-text-color);
}